<div *ngIf="getRole() == 'admin'" class="position-relative border rounded p-4" style="height: 250px;">
    
    <button
        type="button"
        class="btn btn-primary rounded-circle position-absolute top-0 start-0 m-3 d-flex align-items-center justify-content-center"
        style="width: 45px; height: 45px;"
         (click)="addProduct()">
        +
    </button>
</div>
<div class="product-section">
  <div class="container">

    
    <div class="row">
        
      <div class="col-12 col-md-4 col-lg-3 mb-6 mb-md-0"
       *ngFor="let p of products()">
        
        <app-product-card
          [title]="p.name"
          [price]="p.price"
          [description]="p.description"
          
          [image]="'https://furni-back-end.onrender.com/uploads/' + p.image"
          (selectProduct)="handleProduct($event)"
          [id]="p._id"
          (viewDetail)="detailProduct($event)"
          (edit)="editProduct($event)"
          (delete)="deleteProduct($event)">
        </app-product-card>

      </div>

    </div>
  </div>
</div>