<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

	<div class="container">
		<a class="navbar-brand" href="index.html">Furni<span>.</span></a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
			aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsFurni">
			<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
				<li>
					<a routerLink="/home" class="nav-link">Home</a>
				</li>
				<li><a class="nav-link" routerLink="/products">Shop</a></li>
				<li><a routerLink="/login" class="nav-item nav-link">Login</a></li>
				<li><a routerLink="/signup" class="nav-item nav-link">SignUp</a></li>

				<li><a class="nav-link" href="services.html">Services</a></li>
				<li><a class="nav-link" href="blog.html">Blog</a></li>
				<li><a class="nav-link" href="contact.html">Contact us</a></li>
			</ul>

			<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
				<li>
					<a *ngIf="user$ | async as user" style="background-color: white; font-weight: bold;">
						Welcome {{ user.fullName }}
						<button (click)="logOut()">Logout</button>
					</a>  
				</li>
				<li>
					<a class="nav-link position-relative">
						<svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.29977 5H21L19 12H7.37671M20 16H8L6 3H3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						<!-- <span *ngIf="cartItems() | async as count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
							{{ cartItems }}
							<span class="visually-hidden">items in cart</span>
						</span>  -->
					</a>
				</li>
			</ul>

			
		</div>
	</div>

</nav>
<!-- End Header/Navigation -->